In [8]:
import os
os.environ['DJANGO_SETTINGS_MODULE'] = 'telegram_django_bot.settings'

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [9]:
import django
django.setup()

In [23]:
from recommend.models import Data
from django.db.models import F

In [12]:
Data.objects.all().count()

1564

In [13]:
state, province, type1 = '충남,청양군,여행/레저'.split(',')

In [39]:
# qs = Data.objects.all()\
#     .annotate(score = F('rank') * 1.55 + F('search_count') * 0.025)\
#     .filter(state=state, province=province, type1=type1)\
#     .order_by('-score')
# print(qs.query)

In [38]:
print(qs.query)

SELECT "recommend_data"."id", "recommend_data"."date", "recommend_data"."state", "recommend_data"."province", "recommend_data"."name", "recommend_data"."type1", "recommend_data"."type2", "recommend_data"."type3", "recommend_data"."rank", "recommend_data"."search_count", "recommend_data"."link", (("recommend_data"."rank" * 1.55) + ("recommend_data"."search_count" * 0.025)) AS "score" FROM "recommend_data" WHERE ("recommend_data"."province" = 청양군 AND "recommend_data"."state" = 충남 AND "recommend_data"."type1" = 여행/레저) ORDER BY "score" DESC

In [47]:
#  names = ['철수', '영희', '탐', '스티브']

# for i in range(len(names)):
#     print(names[i])
    
# for name in names:
#     print(name)

In [48]:
def get_recommend_place_list(state, province, type1, limit=5):
    # Data.objects.all() => QuerySet
    qs = Data.objects.all()\
        .annotate(score = F('rank') * 1.55 + F('search_count') * 0.025)\
        .filter(state=state, province=province, type1=type1)\
        .order_by('-score')
    place_name_list = list(qs[:limit].values_list('name', flat=True))
    
    return place_name_list

    
place_name_list = get_recommend_place_list(state, province, type1)    

reply_text = '\n'.join(place_name_list)
print(reply_text)

회룡대별장펜션
도림계곡
까치내유원지
모덕사
청양칠갑산천문대

In [168]:
a, b = (1, 2, 3)

ValueError: too many values to unpack (expected 2)

In [36]:
qs = Data.objects.all()\
    .annotate(score = F('rank') * 1.55 + F('search_count') * 0.025)\
    .filter(state=state, province=province, type1=type1)\
    .order_by('-score')
place_name_list = qs[:5].values_list('name', flat=True)

reply_text = '\n'.join(place_name_list)
print(reply_text)

회룡대별장펜션
도림계곡
까치내유원지
모덕사
청양칠갑산천문대

In [49]:
df = pd.DataFrame(qs.values('name', 'score'))
df.head(10)

           name      score
0       회룡대별장펜션  46.525000
1          도림계곡  42.258333
2        까치내유원지  41.975000
3           모덕사  40.083333
4      청양칠갑산천문대  39.192451
5  칠갑산도립공원칠갑주차장  38.431181
6      청양고추문화마을  38.225000
7       칠갑산휴양랜드  38.202907
8           천장호  37.775926
9    청양외국체험관광마을  37.225000

In [51]:
for i in range(100000000000000000000):
    break

In [55]:
def mygen():
    print("started")
    yield 1
    yield 2
    yield 3

In [56]:
gen1 = mygen()
gen2 = mygen()

In [57]:
next(gen1)

started

1

In [58]:
next(gen1)

2

In [59]:
next(gen2)

started

1

In [60]:
next(gen2)

2

In [61]:
next(gen2)

3

In [62]:
next(gen2)

StopIteration:

In [65]:
gen3 = mygen()
print(next(gen3))

print("===")
for n in gen3:
    print(n)

started
1
===
2
3

In [ ]:
1, 1, 2, 3, 5, 7, 12, 19

In [125]:
a, b = 0, 1

In [135]:
a, b = b, a + b
a, b

(55, 89)

In [138]:
# 함수를 활용한 Generator 만들기
def make_fibonachi():
    a, b = 0, 1
    while True:
        a, b = b, a + b
        yield b

In [140]:
fib = make_fibonachi()

In [160]:
next(fib)

10946

In [ ]:
# 정수형 => 함수, 클래스
#  - 인자로 넘길 수 있다.
#  - 동적으로 생성될 수 있다.
#  - 반환값으로 넘길 수 있다.

def myfn(n):
    i = 10
    return i + n

In [166]:
def myfn():
    fn1 = lambda x, y: x + y
    def fn2(x, y):
        return x + y
    return fn2

myfn()(1, 2)

3

In [162]:
def mysum(x, y):
    return x + y + 10

mysum3 = mysum  # First-Class Function (일급 함수)

mysum2 = lambda x, y: x + y + 10

mysum(1, 2), mysum2(1, 2), mysum3(1, 2)

(13, 13, 13)

In [164]:
mysum